.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.imgcontainer {
  text-align: center;
  margin: 14px 0 12px 0;
}

img.avatar {
  width: 34%;
  border-radius: 50%;
}

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}


.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-primary-new {
  color: #fff;
  background-color: #0be7a4;
  border-color: #0be7a4;
}

.link-primary {
  color: #0be7a4;
}

.timeline-profile-list {
  display: block;
  max-width: 100%;
  height: auto;
}


.timeline-question-profile-photo{
  display: block;
  max-width: 20%;
  height: auto;
}

.timeline-top-blank-space {
  height : 30vh;
}

.sm-font-size {
  font-size: 13px;
}
